# 4. 데이터 파일 읽어오기

## 4-1. CSV 파일
* Comma Separated Value의 약자, 쉼표로 구분된 데이터 파일
* 엑셀보다 CSV 파일이 가볍다

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 1. URL로부터 파일 읽어오기
d = pd.read_csv('http://bit.ly/ds-korean-idol')
d

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [3]:
# 2. 포털에 있는 csv 파일 읽어오기
d2 = pd.read_csv('../data/korean-idol.csv')
d2

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [6]:
# 3. 엑셀 파일 읽어오기
d3 = pd.read_excel('../data/korean-idol.xlsx')
d3

      이름     그룹      소속사  성별       생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자 1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자 1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자 1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자 1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자 1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자 1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자 1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자 1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자 1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자 1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자 1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자 1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자 1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자 1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자 1993-03-09  174.0   O   2925442

In [7]:
# 4. Kaggle API로 데이터 가져오기
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.5.12.tar.gz (58 kB)
Requirement already satisfied: six>=1.10 in c:\users\dione\anaconda3\lib\site-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in c:\users\dione\anaconda3\lib\site-packages (from kaggle) (2020.6.20)
Requirement already satisfied: python-dateutil in c:\users\dione\anaconda3\lib\site-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in c:\users\dione\anaconda3\lib\site-packages (from kaggle) (2.24.0)
Requirement already satisfied: tqdm in c:\users\dione\anaconda3\lib\site-packages (from kaggle) (4.50.2)
Collecting python-slugify
  Downloading python-slugify-4.0.1.tar.gz (11 kB)
Requirement already satisfied: urllib3 in c:\users\dione\anaconda3\lib\site-packages (from kaggle) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in c:\users\dione\anaconda3\lib\site-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\dione\anaconda3\lib\site-packages (from requests->kaggle) (3.0.4)
Collecting text-unidecode>=1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Building wheels for collected packages: kaggle, python-slugify
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.5.12-py3-none-any.whl size=73057 sha256=a88dc9a919ed1a0200e6d4e42597f3162d233ed4430f400db643c60c7a43c79d
  Stored in directory: c:\users\dione\appdata\local\pip\cache\wheels\29\da\11\144cc25aebdaeb4931b231e25fd34b394e6a5725cbb2f50106
  Building wheel for python-slugify (setup.py): started
  Building wheel for python-slugify (setup.py): finished with status 'done'
  Created wheel for python-slugify: filename=python_slugify-4.0.1-py2.py3-none-any.whl size=6772 sha256=b1e95fc6cc6aac1f53ac454265fc55975b0964f73bbd17806de9a3ff3f2ed804
  Stored in directory: c:\users\dione\appdata\local\pip\cache\wheels\91\4d\4f\e740a68c215791688c46c4d6251770a570e8dfea91af1acb5c
Successfully built kaggle python-slugify
Installing collected packages: text-unidecode, python-slugify, kaggle
Successfully installed kaggle-1.5.12 python-slugify-4.0.1 text-unidecode-1.3

In [9]:
# kaggle version 확인
# kaggle account > create new api token > kaggle.json 파일을 ~/.kaggle/kaggle.json
!kaggle --version

Kaggle API 1.5.12

In [10]:
!kaggle competitions download -c titanic

Downloading titanic.zip to c:\JupyterLab\20_Pandas

  0%|          | 0.00/34.1k [00:00<?, ?B/s]
100%|##########| 34.1k/34.1k [00:00<00:00, 4.39MB/s]

In [11]:
!kaggle datasets download -d imdevskp/corona-virus-report

Downloading corona-virus-report.zip to c:\JupyterLab\20_Pandas

  0%|          | 0.00/19.0M [00:00<?, ?B/s]
  5%|5         | 1.00M/19.0M [00:00<00:03, 4.90MB/s]
 11%|#         | 2.00M/19.0M [00:00<00:03, 5.05MB/s]
 16%|#5        | 3.00M/19.0M [00:00<00:02, 5.68MB/s]
 21%|##1       | 4.00M/19.0M [00:00<00:02, 6.34MB/s]
 26%|##6       | 5.00M/19.0M [00:00<00:02, 6.80MB/s]
 32%|###1      | 6.00M/19.0M [00:00<00:02, 6.46MB/s]
 37%|###6      | 7.00M/19.0M [00:01<00:01, 6.75MB/s]
 42%|####2     | 8.00M/19.0M [00:01<00:01, 6.08MB/s]
 47%|####7     | 9.00M/19.0M [00:01<00:01, 6.20MB/s]
 53%|#####2    | 10.0M/19.0M [00:01<00:01, 6.40MB/s]
 58%|#####7    | 11.0M/19.0M [00:01<00:01, 6.50MB/s]
 63%|######3   | 12.0M/19.0M [00:01<00:01, 7.08MB/s]
 74%|#######3  | 14.0M/19.0M [00:02<00:00, 7.91MB/s]
 84%|########4 | 16.0M/19.0M [00:02<00:00, 8.32MB/s]
 89%|########9 | 17.0M/19.0M [00:02<00:00, 8.02MB/s]
 95%|#########4| 18.0M/19.0M [00:02<00:00, 8.09MB/s]
100%|##########| 19.0M/19.0M [00:02<00:00, 8.50MB/s]
100%|##########| 19.0M/19.0M [00:02<00:00, 7.39MB/s]